[submodule "elisp/org-mode"]
	path = elisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "elisp/yaml-mode"]
	path = elisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "scala-mode2"]
	path = scala-mode2
	url = /Users/rbailey/.emacs.d/elisp/scala-mode2/
[submodule "elisp/flx"]
	path = elisp/flx
	url = https://github.com/lewang/flx.git
